.nav {
    grid-area: n;
    background-color: navajowhite;
    padding: 20px;
    text-decoration: none;
}
.item a {
    color: chocolate;
    font-weight: bold;
}
/*.item a.active {*/
/*    color: maroon;*/
/*    font-weight: bolder;*/
/*}*/

.item a:hover, .item a:active, .item a:focus {
    color: maroon;
}