.nav {
    grid-area: n;
    background-color: navajowhite;
    padding: 20px;
   }
.item a {
    color: chocolate;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
}
/*.item a.active {*/
/*    color: maroon;*/
/*    font-weight: bolder;*/
/*}*/

.item a:active, .item a:focus {
    color: maroon;
    font-size: 20px;
}

.item a:hover {
    color: maroon;
}

.itemFriends a {

    color: chocolate;
    font-weight: bold;
    text-decoration: none;
    font-size: 30px;
}

.itemFriends a:focus {
    color: maroon;
    font-size: 30px;
}

.itemFriends {
    color: chocolate;
    font-weight: bold;
    text-decoration: none;
    font-size: 20px;
    margin-top: 50px;
}

.friendsList {
    display: grid;
    grid-template-areas: "a b c";
}

.friendsList img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}

.friends {
    display: grid;
    grid-template-areas: "a" "b";
    justify-items: center;
    color: white;
}