
.dialogs {
    display: grid;
    grid-auto-columns: 3fr 10fr;
    grid-template-areas:
    "a b"
}

.dialog {
    display: grid;

   }

.dialogsItems {
    padding: 10px;
    grid-area: a;
  }

.dialog a {
    color: chocolate;
    font-weight: bold;
    text-decoration: none;
}

.dialogs .active {
    color: maroon;
    font-size: 20px;

}

.dialogsItems a:hover, .dialogsItems a:active, .dialogsItems a:focus {
    color: maroon;
}

.messages {
    padding: 10px;
    grid-area: b;
    color: chocolate;

}

.img {
    width: 40px;
    height: 40px;
    border-radius: 30px;
}