
.dialogs {
    display: grid;
    grid-auto-columns: 2fr 10fr;
    grid-template-areas:
    "a b"
}



.dialog {

}

.dialogsItems {
    padding: 10px;
    grid-area: a;
  }

.dialog a {
    color: chocolate;
    font-weight: bold;
    text-decoration: none;
}

.dialogs .active {
    color: maroon;
    font-size: 20px;

}

.dialogsItems a:hover, .dialogsItems a:active, .dialogsItems a:focus {
    color: maroon;
}

.messages {
    padding: 10px;
    grid-area: b;

}

.message {

}